<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>froshies</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <header>
            {% if current_user %}
                <p>Logged in as <strong>{{ current_user }}</strong>. <a href="{{ url_for('logout') }}">Log out</a></p>
            {% else %}
                <p><a href="{{ url_for('login') }}">Log in</a> to manage registrants.</p>
            {% endif %}
        </header>

        {% block content %}{% endblock %}
    </body>
</html>